<h1>请输入密码：</h1>

<% if flash[:error] %>
      <p class="error high"><%= flash[:error] %></p>
    <% end %>
<br/>    
<%= form_tag('/logins') do -%>
<div>
<%= password_field(:user,:password, :size => 20) %>
<%= submit_tag '确认' %>
</div>
<% end -%>