%h1 请输入密码：
- if flash[:error]
  %p.error.high= flash[:error]
%br/
.col-lg-3
  = form_tag('/logins', html: {class: 'form-inline'}) do
    .input-group
      = password_field(:user,:password, :size => 20, class: 'form-control')
      %span.input-group-btn
        = submit_tag '确认', class: 'btn btn-default'
