.category_list
  %ul.nav.nav-pills.nav-stacked.bs-sidenav
    - categories.each do |cate|
      %li
        =link_to cate.name, 'javascript: void(0)', class: 'nav-menu-root'
        %ul.nav.nav-menu-child
          - cate.nodes.each do |cs|
            %li
              - if defined?(selected) and selected
                =link_to cs.name, 'javascript: void(0)', class: "nav-menu-leaf", "data-id" => cs.id
              - else
                =link_to cs.name, fireworks_path(root: cs.id)
          
