<div class="category_list">
  <ul id="browser" class="filetree">
    <% categories.each do |cate| %>
      <li class="closed"><span class="folder"><%= cate[:root].name %></span>
      <ul>
        <% cate[:cs].each do |cs| %>
        <li>
          <span class="file">
            <%= link_to cs.name, fireworks_path(root: cs.id),remote: true %>
          </span>
        </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  </ul>
</div>
