.category_list
  %ul.nav.nav-pills.nav-stacked.bs-sidenav
    - categories.each do |cate|
      %li
        =link_to cate[:root].name, '#', class: 'nav-menu-root'
        %ul.nav-menu-child
          - cate[:cs].each do |cs|
            %li
              = link_to cs.name, fireworks_path(root: cs.id)
          
