$font-size-base : 14px;

@import 'bootstrap-custom';


/* Account for fixed navbar */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Reset the container */
.container {
  // max-width: none !important;
  // width: 970px;
}

.category_list {
  margin-bottom: 10px;
}

.bs-sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.nav-menu-child {
  display: none;
  padding-left: 10px;
  a {
    color: black;
  }
}

li.cate_item {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
  background-color: #eee;
  border-top: 15px solid #fff;
  
  .edit {
    position: absolute;
    right: 0;
    display: none;
  }
  .remove {
    position: absolute;
    right: 15px;
    display: none;
  }
}
.cate_item_list {
  display: inline-block;
}

button.add_cate_item {
  display: inline-block;
  margin: 0 10px;
}

ul.cate_class {
  clear: both;
}

.clear {
  clear: both;
}
