$font-size-base : 14px;

@import 'bootstrap-custom';


/* Account for fixed navbar */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Reset the container */
.container {
  // max-width: none !important;
  // width: 970px;
}

.category_list {
  margin-bottom: 10px;
}

.bs-sidenav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.nav-menu-child {
  display: none;
  padding-left: 10px;
  a {
    color: black;
  }
}


.cate_item {
  display: inline-block;
  position: relative;
  
  .cate_item_bg {
    height: 15px;
  }

  .remove {
    position: absolute;
    right: 5px;
    top: -5;
    display: none;
  }
  .edit {
    position: absolute;
    right: 20px;
    top: -5;
    display: none;
  }
  a.editable {
    margin: 0 5px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    background-color: #eee;
  }
}

.cate_item_list {
  display: inline-block;
}

button.add_cate_item {
  display: inline-block;
  margin: 0 10px;
}


.clear {
  clear: both;
}
