#class_input_helper.popover.fade.right.in{style: "top: 124px; left: 253.4375px; display: none;"}
  .arrow
  %h3.popover-title 输入类名
  .popover-content
    %div
      .editableform-loading{style: "display: none;"}
      %form.form-inline.editableform
        .control-group.form-group
          %div
            .editable-input{style: "position: relative;"}
              %input.form-control.input-sm{style: "padding-right: 24px;", type: "text"}/
              %span.editable-clear-x
            .editable-buttons
              %button.btn.btn-primary.btn-sm.editable-submit{type: "submit"}
                %i.glyphicon.glyphicon-ok
              %button.btn.btn-default.btn-sm.editable-cancel{type: "button"}
                %i.glyphicon.glyphicon-remove
          .editable-error-block.help-block{style: "display: none;"}

